
$progressColor : #16A085;
$actionColor : #336E7B;

.kitems {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 95%;
    margin: auto;

    .kitem {

        max-width: 330px;
        height: 450px;
        flex: 0 1 330px;
        border: solid 1px #ddd;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 1px 1px 2px 1px #ccc;
        margin: 10px;
        padding: 10px;

        display: flex;
        flex-flow: column nowrap;

        .headmage{
            position: relative;
            max-height: 150px;
            flex: 0 1 150px;
            text-align: center;
            border: solid 1px $mainColor;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            img {
                height: 100%;
            }
        }

        h2 {
            margin: 0;
            background-color: $mainColor;
            text-align:center;
            padding: 5px;
            margin-bottom: 10px;
            color: white;
            font-size: 1.1em;
            border: solid 1px $mainColor;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        p {
            //background-color : purple;
            flex: 1 0 auto;
        }
        .warn {
            color: #D64541;
            font-size: .9em;
        }
        .desc {
            margin-top: 10px;
        }
        .price {
            flex: 0 0 1em;
            margin: 5px 0;

            progress {
                width: 75%;
                border: solid 1px #ddd;
                border-radius: 2px
            }
            progress::-webkit-progress-value {
                background-color: $progressColor;
            }
            progress::-moz-progress-bar {
                background-color: $progressColor;
            }
            .amount:after {
                text-align: right;
                content: '€';
            }
        }
        .actions {

            margin: 5px 0;

            list-style-type: none;

            li {
                display: inline-block;
                width: 49%;
                position : relative;
                margin-bottom: 3px;
                a {

                    display: inline-block;
                    padding: 10px;
                    width: 100%;
                    background-color: white;
                    border: solid 2px $actionColor;
                    border-radius: 3px;
                    color: $actionColor;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover, &:focus, &:active {
                        color: #333;
                    }
                }
            }
        }
    }
}
