
$progressColor : #16A085;
$actionColor : #336E7B;
$mainColor : #455066;

.kitems {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;

    .kitem {
        width: 400px;
        max-width: 400px;
        height: 525px;
        flex: 0 1 400px;;
        border: solid 1px #ddd;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 1px 1px 2px 1px #ccc;
        margin: .5em;
        padding: 10px;

        display: flex;
        flex-flow: column nowrap;

        .headmage{
            position: relative;
            max-height: 150px;
            flex: 0 1 150px;
            text-align: center;
            border: solid 1px $mainColor;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            img {
                height: 100%;
            }
        }

        h2 {
            margin: 0;
            background-color: $mainColor;
            text-align:center;
            padding: 5px;
            margin-bottom: 1em;
            color: white;
            font-size: 1.2em;
            border: solid 1px $mainColor;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        p {
            //background-color : purple;
            flex: 1 0 auto;
        }
        .warn {
            color: #D64541;
            font-size: .9em;
        }
        .desc {
            margin-top: 1em;
        }
        .price {
            flex: 0 0 1em;
            margin: 5px 0;

            progress {
                width: 75%;
                border: solid 1px #ddd;
                border-radius: 2px
            }
            progress::-webkit-progress-value {
                background-color: $progressColor;
            }
            progress::-moz-progress-bar {
                background-color: $progressColor;
            }
            .amount:after {
                text-align: right;
                content: '€';
            }
        }
        .actions {

            list-style-type: none;

            li {
                display: inline-block;
                width: calc(50% - 1em);
                position : relative;
                margin: .25em;
                a {

                    display: inline-block;
                    padding: .5em;
                    width: 100%;
                    background-color: white;
                    border: solid 2px $actionColor;
                    border-radius: 3px;
                    color: $actionColor;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover, &:focus, &:active {
                        color: #333;
                    }
                }
            }
        }
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .kitems .kitem {
        width: 100%;
        max-width: 100%;
        flex: 1 1 auto;
        height: 950px;
         .headmage{
            max-height: 300px;
            flex: 0 1 300px;
        }
    }
}
